@charset "UTF-8";
/*sizes and tweaks*/
/*color variables*/
/*selector variables*/
/*other variables*/
body ::-moz-selection {
  background: #f17db1;
  color: #fff;
}
body ::selection {
  background: #f17db1;
  color: #fff;
}

body ::-moz-selection {
  background: #f17db1;
  color: #fff;
}

/* helper classes */
.such-height {
  height: 100%;
}

.align-vertical {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.align-horizontal, .projects-greeter {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.light-cyan-shim {
  height: 100%;
  background-color: #58d3f7;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* начи, лудница. */
  position: absolute;
  z-index: 0;
}

.current {
  background-color: #58d3f7;
}

.hero-h2 {
  font-size: 80px;
  color: #20c4f4;
  text-align: center;
  margin: 40px 0 100px 0;
}

.vr-dash {
  height: 500px;
  width: 30px;
  border-right: 1px dashed #c2c2c2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline;
  float: left;
  margin-top: 50px;
}

.container {
  height: calc(100% - 84px);
  height: -webkit-calc(100% - 84px);
  height: -ms-calc(100% - 84px);
}

.contacts-shim-collapse {
  -webkit-animation: contacts-collapse 1s;
  animation: contacts-collapse 1s;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.contacts-shim-appear {
  -webkit-animation: fade-in70 1.5s;
  animation: fade-in70 1.5s;
  opacity: 1;
}

.contacts-shim-appear-late {
  -webkit-animation: fade-in70 1.8s;
  animation: fade-in70 1.8s;
  opacity: 1;
}

.projects-greeter-appear {
  -webkit-animation: fade-in70 1s;
  animation: fade-in70 1s;
  opacity: 1;
}

@font-face {
  font-family: 'bebas-regular';
  src: url("../fonts/BebasNeue-webfontREG.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body,
h1, h2, h3, h4, h5,
hr,
p {
  padding: 0;
  margin: 0;
}

a,
a:hover {
  color: inherit;
}

a,
nav a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus,
a:active {
  outline: none;
  /* Mostly for Firefox' pesky outline */
}

p {
  line-height: 1.6;
  font-size: 19px;
  text-align: justify;
}

body {
  font-family: 'PT Sans Narrow', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  overflow-y: scroll;
}

h2 {
  font-family: "bebas-regular", "PT Sans Narrow", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 30px;
}

img {
  display: inline-block;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.apex-this {
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.nmi-1,
.nmi-2,
.nmi-3,
.nmi-4,
.nmi-5,
.nmi-6,
.nmi-7,
.nmi-8,
.nmi-9,
.nmi-10,
.nmi-11,
.nmi-12,
.nmi-13,
.nmi-14 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11,
.push-12, .pull-12,
.push-13, .pull-13,
.push-14, .pull-14 {
  position: relative;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* Grid >> 14 Columns
----------------------------------------------------------------------------------------------------*/
.apex-this .nmi-1 {
  width: 60px;
}

.apex-this .nmi-2 {
  width: 140px;
}

.apex-this .nmi-3 {
  width: 220px;
}

.apex-this .nmi-4 {
  width: 300px;
}

.apex-this .nmi-5 {
  width: 380px;
}

.apex-this .nmi-6 {
  width: 460px;
}

.apex-this .nmi-7 {
  width: 540px;
}

.apex-this .nmi-8 {
  width: 620px;
}

.apex-this .nmi-9 {
  width: 700px;
}

.apex-this .nmi-10 {
  width: 780px;
}

.apex-this .nmi-11 {
  width: 860px;
}

.apex-this .nmi-12 {
  width: 940px;
}

.apex-this .nmi-13 {
  width: 1020px;
}

.apex-this .nmi-14 {
  width: 1100px;
}

/* Prefix Extra Space >> 14 Columns
----------------------------------------------------------------------------------------------------*/
.apex-this .prefix-1 {
  padding-left: 80px;
}

.apex-this .prefix-2 {
  padding-left: 160px;
}

.apex-this .prefix-3 {
  padding-left: 240px;
}

.apex-this .prefix-4 {
  padding-left: 320px;
}

.apex-this .prefix-5 {
  padding-left: 400px;
}

.apex-this .prefix-6 {
  padding-left: 480px;
}

.apex-this .prefix-7 {
  padding-left: 560px;
}

.apex-this .prefix-8 {
  padding-left: 640px;
}

.apex-this .prefix-9 {
  padding-left: 720px;
}

.apex-this .prefix-10 {
  padding-left: 800px;
}

.apex-this .prefix-11 {
  padding-left: 880px;
}

.apex-this .prefix-12 {
  padding-left: 960px;
}

.apex-this .prefix-13 {
  padding-left: 1040px;
}

/* Suffix Extra Space >> 14 Columns
----------------------------------------------------------------------------------------------------*/
.apex-this .suffix-1 {
  padding-right: 80px;
}

.apex-this .suffix-2 {
  padding-right: 160px;
}

.apex-this .suffix-3 {
  padding-right: 240px;
}

.apex-this .suffix-4 {
  padding-right: 320px;
}

.apex-this .suffix-5 {
  padding-right: 400px;
}

.apex-this .suffix-6 {
  padding-right: 480px;
}

.apex-this .suffix-7 {
  padding-right: 560px;
}

.apex-this .suffix-8 {
  padding-right: 640px;
}

.apex-this .suffix-9 {
  padding-right: 720px;
}

.apex-this .suffix-10 {
  padding-right: 800px;
}

.apex-this .suffix-11 {
  padding-right: 880px;
}

.apex-this .suffix-12 {
  padding-right: 960px;
}

.apex-this .suffix-13 {
  padding-right: 1040px;
}

/* PushSpace >> 14 Columns
----------------------------------------------------------------------------------------------------*/
.apex-this .push-1 {
  left: 80px;
}

.apex-this .push-2 {
  left: 160px;
}

.apex-this .push-3 {
  left: 240px;
}

.apex-this .push-4 {
  left: 320px;
}

.apex-this .push-5 {
  left: 400px;
}

.apex-this .push-6 {
  left: 480px;
}

.apex-this .push-7 {
  left: 560px;
}

.apex-this .push-8 {
  left: 640px;
}

.apex-this .push-9 {
  left: 720px;
}

.apex-this .push-10 {
  left: 800px;
}

.apex-this .push-11 {
  left: 880px;
}

.apex-this .push-12 {
  left: 960px;
}

.apex-this .push-13 {
  left: 1040px;
}

/* Pull-Space >> 14 Columns
----------------------------------------------------------------------------------------------------*/
.apex-this .pull-1 {
  left: -80px;
}

.apex-this .pull-2 {
  left: -160px;
}

.apex-this .pull-3 {
  left: -240px;
}

.apex-this .pull-4 {
  left: -320px;
}

.apex-this .pull-5 {
  left: -400px;
}

.apex-this .pull-6 {
  left: -480px;
}

.apex-this .pull-7 {
  left: -560px;
}

.apex-this .pull-8 {
  left: -640px;
}

.apex-this .pull-9 {
  left: -720px;
}

.apex-this .pull-10 {
  left: -800px;
}

.apex-this .pull-11 {
  left: -880px;
}

.apex-this .pull-12 {
  left: -960px;
}

.apex-this .pull-13 {
  left: -1040px;
}

/* Clear fixes
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
  /*will cause css invalid css */
}

.logo-box {
  position: relative;
  cursor: default !important;
}
.logo-box span {
  /* hi box */
  opacity: 0;
  color: #58d3f7;
  background-color: #fff;
  padding: 10px;
  font-size: 16px;
  position: absolute;
  line-height: 1;
  top: 25px;
  right: 35px;
  font-family: "PT Sans Narrow", "Arial", "Helvetica", sans-serif;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.35s;
  transition: 0.35s;
  -webkit-transform: translateX(-30px) scale(0.6);
  -ms-transform: translateX(-30px) scale(0.6);
  transform: translateX(-30px) scale(0.6);
}
.logo-box span::before {
  /* arrow */
  content: '';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
  position: absolute;
  left: -19px;
  top: 9px;
}
.logo-box h1 {
  font-size: 46px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "bebas-regular", "PT Sans Narrow", "Arial", "Helvetica", sans-serif;
}
.logo-box:hover span {
  opacity: 1;
  -webkit-transform: translateX(0px) scale(1);
  -ms-transform: translateX(0px) scale(1);
  transform: translateX(0px) scale(1);
}

.header-push {
  /* header fixed position compensation placeholder */
  height: 84px;
  width: 100%;
}

.page-hello .header-push {
  /* background-color shim for hello page */
  background-color: #58d3f7;
  -webkit-animation: fade-in70 1s;
  animation: fade-in70 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.header-magic {
  /* header wrapper */
  width: 100%;
  height: 104px;
  position: fixed;
  top: 0;
  z-index: 9000;
}

header {
  width: 100%;
  height: 84px;
  line-height: 84px;
  position: fixed;
  z-index: 9000;
  background-color: #20c4f4;
  font-family: "bebas-regular", "PT Sans Narrow", "Arial", "Helvetica", sans-serif;
  color: #fff;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-animation: fade-in70 0.35s;
  animation: fade-in70 0.35s;
}

/* collapse / uncollapse logic  */
.collapsed {
  -webkit-transform: translateY(-75px);
  -ms-transform: translateY(-75px);
  transform: translateY(-75px);
}

.header-magic:hover header {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

header nav {
  height: 84px;
  text-align: right;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header nav a span {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  position: relative;
  z-index: 100;
}
header nav a:hover span {
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}
header nav a::after {
  content: '';
  height: 84px;
  background-color: #58d3f7;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: middle;
  -ms-transform-origin: middle;
  transform-origin: middle;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header nav a:hover::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 0.7;
}

.page-hello .nav-hello span,
.page-portfolio .nav-projects span,
.page-contacts .nav-contact span {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.page-hello .nav-hello::after,
.page-portfolio .nav-projects::after,
.page-contacts .nav-contact::after {
  background-color: #197d9a;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}

.nav-projects, .nav-hello, .nav-contact {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-family: "bebas-regular", "PT Sans Narrow", "Arial", "Helvetica", sans-serif;
  text-transform: uppercase;
  padding: 0 35px;
  margin-left: -3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hello-splash {
  width: 100%;
  height: 460px;
  text-align: center;
  position: relative;
}
.hello-splash .hero-h2 {
  margin: 140px 0 20px 0;
  width: 100%;
  -webkit-animation: fade-in70 0.9s;
  animation: fade-in70 0.9s;
}
.hello-splash h2 {
  margin-bottom: 10px;
  display: inline-block;
  z-index: 1000;
  position: relative;
  -webkit-animation: fade-in70 1.1s;
  animation: fade-in70 1.1s;
  color: #fff;
}
.hello-splash a {
  margin-top: 30px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.about-things-container {
  width: 100%;
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
  background-color: #fff;
  opacity: 1;
  display: inline-block;
  padding: 80px 0;
}
.about-things-container h2 {
  color: #20c4f4;
  margin-bottom: 20px;
  -webkit-animation: fade-in70 1.4s;
  animation: fade-in70 1.4s;
}
.about-things-container p {
  color: #505050;
  text-align: justify;
  -webkit-animation: fade-in70 1.4s;
  animation: fade-in70 1.4s;
}

.about-me-pic {
  height: 220px;
  position: relative;
  -webkit-animation: fade-in70 1.4s;
  animation: fade-in70 1.4s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-sprite {
  margin-left: -10px;
  margin-top: 10px;
  -webkit-animation: fade-in70 1.4s;
  animation: fade-in70 1.4s;
}
.social-sprite a {
  width: 60px;
  height: 60px;
  display: inline-block;
  position: relative;
}
.social-sprite a .gray-social {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.social-sprite a .full-social {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.social-sprite a:hover .full-social {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.social-sprite a:hover .gray-social {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.social-sprite span {
  background-image: url("../images/social-sprite.svg");
  -webkit-background-size: 160px 160px;
  background-size: 160px 160px;
  width: 60px;
  height: 60px;
  display: inline-block;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a[href="http://twitter.com/todorpanev"] .gray-social {
  background-position: 0px -25px;
}
a[href="http://twitter.com/todorpanev"] .full-social {
  background-position: 0px -75px;
}

a[href="http://bg.linkedin.com/in/todorpanev"] .gray-social {
  background-position: -50px -25px;
}
a[href="http://bg.linkedin.com/in/todorpanev"] .full-social {
  background-position: -50px -75px;
}

a[href="https://www.behance.net/panev"] .gray-social {
  background-position: -100px -25px;
}
a[href="https://www.behance.net/panev"] .full-social {
  background-position: -100px -75px;
}

.about-skill {
  width: 100%;
  padding: 80px 0 55px 0;
  display: inline-block;
  opacity: 0.65;
  -webkit-transition: 0.55s;
  transition: 0.55s;
}
.about-skill .vr-dash {
  height: 250px;
  margin-top: 0;
}
.about-skill h2 {
  margin: 40px 0 15px 0;
  color: #20c4f4;
}
.about-skill .about-ill {
  height: 250px;
}
.about-skill .about-ill img {
  position: absolute;
}
.about-skill:hover {
  opacity: 1;
}
.about-skill:hover .skill-cog {
  -webkit-animation: skill-cog-rotate 3.6s infinite linear;
  animation: skill-cog-rotate 3.6s infinite linear;
}
.about-skill:hover .dot-1 {
  -webkit-animation: scale-up-down 0.5s;
  animation: scale-up-down 0.5s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.about-skill:hover .dot-2 {
  -webkit-animation: scale-up-down 0.75s;
  animation: scale-up-down 0.75s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.about-skill:hover .dot-3 {
  -webkit-animation: scale-up-down 1.2s;
  animation: scale-up-down 1.2s;
  -webkit-animation-delay: 0.55s;
  animation-delay: 0.55s;
}
.about-skill:hover .dot-4 {
  -webkit-animation: scale-up-down 0.5s;
  animation: scale-up-down 0.5s;
  -webkit-animation-delay: 0.55s;
  animation-delay: 0.55s;
}
.about-skill:hover .dot-5 {
  -webkit-animation: scale-up-down 0.45s;
  animation: scale-up-down 0.45s;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.about-skill:hover .dot-6 {
  -webkit-animation: scale-up-down 0.7s;
  animation: scale-up-down 0.7s;
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.about-skill:hover .dot-7 {
  -webkit-animation: scale-up-down 1.1s;
  animation: scale-up-down 1.1s;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}
.about-skill:hover .dot-8 {
  -webkit-animation: scale-up-down 0.6s;
  animation: scale-up-down 0.6s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.about-skill:hover .brand-dot-1 {
  -webkit-animation: brand-dot-scale 2.1s infinite;
  animation: brand-dot-scale 2.1s infinite;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  opacity: 1;
}
.about-skill:hover .brand-dot-2 {
  -webkit-animation: brand-dot-scale 1.5s infinite;
  animation: brand-dot-scale 1.5s infinite;
  opacity: 0.7;
}
.about-skill:hover .brand-dot-3 {
  -webkit-animation: brand-dot-rotate 2.5s infinite linear;
  animation: brand-dot-rotate 2.5s infinite linear;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  opacity: 0.7;
}
.about-skill:hover .good-line-1 {
  -webkit-animation: scale-up-y 0.30s;
  animation: scale-up-y 0.30s;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
.about-skill:hover .good-line-2 {
  -webkit-animation: scale-up-x 0.30s;
  animation: scale-up-x 0.30s;
  -webkit-animation-delay: 0.30s;
  animation-delay: 0.30s;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.about-skill:hover .good-cross {
  -webkit-animation: good-cross 0.5s;
  animation: good-cross 0.5s;
  -webkit-animation-delay: 0.50s;
  animation-delay: 0.50s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.about-skill:hover .good-buttons {
  -webkit-animation: good-buttons 0.5s, good-buttons-2 0.5s;
  animation: good-buttons 0.5s, good-buttons-2 0.5s;
  -webkit-animation-delay: 0.49s, 0.50s;
  animation-delay: 0.49s, 0.50s;
  -webkit-transform: rotate(145deg);
  -ms-transform: rotate(145deg);
  transform: rotate(145deg);
  opacity: 0;
}

.good-line-1,
.good-line-2 {
  z-index: 100;
  background-color: #20c4f4;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.good-line-1 {
  width: 30px;
  height: 90px;
  margin-top: -45px;
  margin-left: -15px;
  -webkit-transform-origin: top !important;
  -ms-transform-origin: top !important;
  transform-origin: top !important;
}

.good-line-2 {
  width: 90px;
  height: 30px;
  margin-top: -15px;
  margin-left: -45px;
  -webkit-transform-origin: right !important;
  -ms-transform-origin: right !important;
  transform-origin: right !important;
}

.good-cross {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 90px;
  width: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
  z-index: 120;
}

.good-buttons {
  z-index: 80;
  -webkit-transition: 0.50s;
  transition: 0.50s;
}

.good-circle {
  background-color: #fff;
  border-radius: 50%;
  width: 146px;
  height: 146px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -73px;
  margin-left: -73px;
  z-index: 50;
}

.brand-dot-1,
.brand-dot-2,
.brand-dot-3 {
  border-radius: 50%;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.brand-dot-1 {
  background-color: #20c4f4;
  width: 64px;
  height: 64px;
  border: 3px solid #fff;
  z-index: 100;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
  -ms-transform: translate(-50%, -50%) rotate(0deg) scale(1);
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
}

.brand-dot-2 {
  background-color: #58d3f7;
  width: 84px;
  height: 84px;
  z-index: 90;
  opacity: 0.7;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.brand-dot-3 {
  border: 2px dashed #58d3f7;
  width: 88px;
  height: 88px;
  z-index: 80;
  opacity: 0.7;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.dot-1,
.dot-2,
.dot-3,
.dot-4,
.dot-5,
.dot-6,
.dot-7,
.dot-8 {
  background-color: #20c4f4;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 100;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0;
}

.dot-1 {
  top: 37px;
  left: 68px;
  width: 14px;
  height: 14px;
}

.dot-2 {
  top: 71px;
  left: 82px;
  width: 45px;
  height: 45px;
}

.dot-3 {
  top: 95px;
  left: 23px;
  width: 22px;
  height: 22px;
}

.dot-4 {
  top: 143px;
  left: 67px;
  width: 14px;
  height: 14px;
}

.dot-5 {
  top: 130px;
  left: 127px;
  width: 23px;
  height: 23px;
}

.dot-6 {
  top: 183px;
  left: 66px;
  width: 25px;
  height: 25px;
}

.dot-7 {
  top: 178px;
  left: 137px;
  width: 35px;
  height: 35px;
}

.dot-8 {
  top: 138px;
  left: 179px;
  width: 18px;
  height: 18px;
}

.contacts-container {
  height: 100%;
}
.contacts-container p {
  color: #197d9a;
  text-align: justify;
}

.contacts-info, .contacts-details {
  top: 80px;
}

.contacts-container h2,
.contacts-info h2 {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.contacts-container h2 span,
.contacts-info h2 span {
  display: block;
  text-decoration: underline;
}

.contacts-details h5 {
  color: #fff;
  font-weight: 300;
  font-size: 25px;
  font-family: "bebas-regular", "PT Sans Narrow", "Arial", "Helvetica", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}
.contacts-details h5 span {
  color: #197d9a;
  text-shadow: none;
  opacity: 0.8;
}

.projects-greeter {
  color: #58d3f7;
  display: inline-block;
  padding: 20px;
  margin: 60px 0 10px 10px;
  border-bottom: 1px dashed #58d3f7;
}
.projects-greeter h3 {
  font-weight: lighter;
}

.portfolio-greeter {
  text-align: center;
  display: block;
  margin: 150px 0;
  color: #20c4f4;
}

.project-container:last-child {
  margin-bottom: 100px;
}

.project-container {
  position: relative;
  height: 240px;
  padding: 30px 0 30px 0;
  margin-top: 20px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
.project-container::after, .project-container::before {
  height: 1px;
  width: 34%;
  content: '';
  display: block;
  position: absolute;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  opacity: 0;
  -webkit-transform: scaleX(3);
  -ms-transform: scaleX(3);
  transform: scaleX(3);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
.project-container::before {
  top: 0px;
  border-top: 1px dashed #c2c2c2;
}
.project-container::after {
  bottom: 0px;
  border-bottom: 1px dashed #c2c2c2;
}
.project-container .gray-thumb, .project-container .full-thumb {
  height: 150px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 380px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.project-container .gray-thumb {
  opacity: 0.5;
  background-position: 0% 0%;
  overflow: visible;
}
.project-container .full-thumb {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-position: 0% -100%;
}
.project-container h1 {
  text-transform: uppercase;
  color: #505050;
  margin-left: 560px;
  opacity: 0.6;
  -webkit-transform: translate(0px, 110px);
  -ms-transform: translate(0px, 110px);
  transform: translate(0px, 110px);
  -webkit-transition: 0.45s;
  transition: 0.45s;
  font-size: 30px;
  font-weight: 400;
}
.project-container .tags, .project-container p, .project-container .view-project {
  position: absolute;
  right: 0;
  opacity: 0;
}
.project-container .tags {
  text-transform: uppercase;
  color: #58d3f7;
  top: 36px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: translate(0%, 40%);
  -ms-transform: translate(0%, 40%);
  transform: translate(0%, 40%);
}
.project-container p {
  width: 540px;
  height: 82px;
  text-align: justify;
  color: #505050;
  top: 90px;
  -webkit-transform: translate(0%, 45%);
  -ms-transform: translate(0%, 45%);
  transform: translate(0%, 45%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.project-container .view-project {
  font-size: 32px;
  color: #58d3f7;
  top: 220px;
  border-bottom: 1px dashed rgba(88, 211, 247, 0);
  -webkit-transform: translate(0%, 100%);
  -ms-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
  text-decoration: none;
}
.project-container .view-project span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
  border-bottom: none;
}
.project-container .view-project:hover {
  border-bottom: 1px dashed #58d3f7;
}
.project-container .view-project:hover span {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.project-container:hover::before, .project-container:hover::after {
  opacity: 1;
}
.project-container:hover .gray-thumb, .project-container:hover .full-thumb {
  -webkit-transform: translate(-180px, -50%);
  -ms-transform: translate(-180px, -50%);
  transform: translate(-180px, -50%);
}
.project-container:hover .gray-thumb, .project-container:hover .hero-thumb {
  opacity: 0;
}
.project-container:hover .full-thumb {
  opacity: 1;
}
.project-container:hover h1 {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.project-container:hover .tags, .project-container:hover p, .project-container:hover .view-project {
  opacity: 1;
  -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}
.project-container:hover .view-project {
  -webkit-animation: view-project-appear 0.6s;
  animation: view-project-appear 0.6s;
}

/* project thumbs individual sprite selectors */
.project-meta .gray-thumb, .project-meta .full-thumb {
  width: 260px;
  background-image: url("../images/projects/metacolors/meta-double-thumb.png");
}

.project-jquerysofia .gray-thumb, .project-jquerysofia .full-thumb {
  width: 260px;
  height: 180px;
  background-image: url("../images/projects/jquerysofia/jquerysofia-double-thumb.png");
}

.project-igposters .gray-thumb, .project-igposters .full-thumb {
  width: 260px;
  height: 180px;
  background-image: url("../images/projects/igposters/igposters-double-thumb.png");
}

/* Projects CSS */
.project-info {
  margin-top: 60px;
  text-align: right;
  position: fixed;
}
.project-info h2 {
  color: #20c4f4;
  font-weight: 300;
}
.project-info .project-date {
  text-transform: uppercase;
  color: #c2c2c2;
  font-size: 0.9em;
  margin-bottom: 25px;
}
.project-info .project-date::before {
  content: 'Compleated on: ';
  text-transform: uppercase;
}
.project-info p {
  text-align: justify;
}
.project-info a {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
}
.project-info a:hover {
  border-bottom: 1px dashed;
}
.project-info a:hover::after {
  left: 5px;
}
.project-info a:hover::before {
  left: -5px;
}
.project-info a::after, .project-info a::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  left: 0px;
}
.project-info .back-to-portfolio {
  float: left;
}
.project-info .back-to-portfolio::before {
  content: '< ';
}
.project-info .back-to-portfolio.highlighted {
  -webkit-animation: blink 0.35s 2;
  animation: blink 0.35s 2;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.project-info .visit-project {
  color: #20c4f4;
}
.project-info .visit-project::after {
  content: ' >';
}

.inner-projects-container {
  margin-top: 60px;
}
.inner-projects-container img {
  margin-bottom: 150px;
}

.vr-dash-container {
  position: fixed;
}

img[src="images/projects/igposters/project-igposters-cooking.png"],
img[src="images/projects/igposters/project-igposters-book.png"],
img[src="images/projects/igposters/project-igposters-ux.png"] {
  border-top: 2px dashed #c2c2c2;
}

footer {
  color: #c2c2c2;
  height: 30px;
  float: right;
  bottom: 30px;
}
footer a, footer a:hover {
  text-decoration: underline;
}
footer p {
  font-size: 16px;
  text-align: right;
}

.page-hello footer,
.page-portfolio footer {
  margin-top: 100px;
}

/* contacts ani */
@-webkit-keyframes contacts-collapse {
  0% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  50% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes contacts-collapse {
  0% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  50% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes fade-in70 {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade-in70 {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translate(-100px, -50%);
    transform: translate(-100px, -50%);
  }

  50% {
    -webkit-transform: translate(-100px, -58%);
    transform: translate(-100px, -58%);
  }

  100% {
    -webkit-transform: translate(-100px, -50%);
    transform: translate(-100px, -50%);
  }
}
@keyframes up-down {
  0% {
    -webkit-transform: translate(-100px, -50%);
    transform: translate(-100px, -50%);
  }

  50% {
    -webkit-transform: translate(-100px, -58%);
    transform: translate(-100px, -58%);
  }

  100% {
    -webkit-transform: translate(-100px, -50%);
    transform: translate(-100px, -50%);
  }
}
@-webkit-keyframes view-project-appear {
  0% {
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    opacity: 0;
  }

  10% {
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
  }
}
@keyframes view-project-appear {
  0% {
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    opacity: 0;
  }

  10% {
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
  }
}
@-webkit-keyframes scale-wiggle {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-wiggle {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes skill-cog-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes skill-cog-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes brand-dot-rotate {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }

  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(0);
    transform: translate(-50%, -50%) rotate(180deg) scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1);
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}
@keyframes brand-dot-rotate {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }

  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(0);
    transform: translate(-50%, -50%) rotate(180deg) scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1);
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}
@-webkit-keyframes brand-dot-scale {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }

  50% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes brand-dot-scale {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }

  50% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
}
@-webkit-keyframes scale-up-x {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes scale-up-x {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@-webkit-keyframes scale-up-y {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes scale-up-y {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes scale-up {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes scale-up-down {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    opacity: 0.7;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes scale-up-down {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    opacity: 0.7;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes good-cross {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes good-cross {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes good-buttons {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
  }
}
@keyframes good-buttons {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
  }
}
@-webkit-keyframes good-buttons-2 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes good-buttons-2 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes nav-loop {
  0% {
    -webkit-transform: scale(1, -0.1);
    transform: scale(1, -0.1);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes nav-loop {
  0% {
    -webkit-transform: scale(1, -0.1);
    transform: scale(1, -0.1);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@media (max-width: 1100px) {
  .apex-this .nmi-1,
  .apex-this .nmi-2,
  .apex-this .nmi-3,
  .apex-this .nmi-4,
  .apex-this .nmi-5,
  .apex-this .nmi-6,
  .apex-this .nmi-7,
  .apex-this .nmi-8,
  .apex-this .nmi-9,
  .apex-this .nmi-10,
  .apex-this .nmi-11,
  .apex-this .nmi-12,
  .apex-this .nmi-13,
  .apex-this .nmi-14 {
    display: inline-block;
    width: auto;
    float: left;
  }

  .apex-this .push-1,
  .apex-this .push-2,
  .apex-this .push-3,
  .apex-this .push-4,
  .apex-this .push-5,
  .apex-this .push-6,
  .apex-this .push-7,
  .apex-this .push-8,
  .apex-this .push-9,
  .apex-this .push-10,
  .apex-this .push-11,
  .apex-this .push-12,
  .apex-this .push-13,
  .apex-this .push-14 {
    left: 10px;
  }

  .apex-this,
  .apex-this .contacts-container {
    width: 100%;
    margin: 0px;
  }

  .contacts-container .contacts-info {
    width: 60%;
  }

  .contacts-container .contacts-info,
  .contacts-container .contacts-details {
    top: 0;
    margin: 20px;
  }
}
