/* Containers
----------------------------------------------------------------------------------------------------*/
.apex-this {
	margin-left: auto;
	margin-right: auto;
	width: 1120px;
}
 
/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.nmi-1,
.nmi-2,
.nmi-3,
.nmi-4,
.nmi-5,
.nmi-6, 
.nmi-7,
.nmi-8,
.nmi-9,
.nmi-10,
.nmi-11,
.nmi-12,
.nmi-13,
.nmi-14 { 
	display: inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11,
.push-12, .pull-12,
.push-13, .pull-13,
.push-14, .pull-14 {
	position: relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 14 Columns
----------------------------------------------------------------------------------------------------*/


.apex-this .nmi-1 {
	width: 60px;
}

.apex-this .nmi-2 {
	width: 140px;
}

.apex-this .nmi-3 {
	width: 220px;
}

.apex-this .nmi-4 {
	width: 300px;
}

.apex-this .nmi-5 {
	width: 380px;
}

.apex-this .nmi-6 {
	width: 460px;
}

.apex-this .nmi-7 {
	width: 540px;
}

.apex-this .nmi-8 {
	width: 620px;
}

.apex-this .nmi-9 {
	width: 700px;
}

.apex-this .nmi-10 {
	width: 780px;
}

.apex-this .nmi-11 {
	width: 860px;
}

.apex-this .nmi-12 {
	width: 940px;
}

.apex-this .nmi-13 {
	width: 1020px;
}

.apex-this .nmi-14 {
	width: 1100px;
}




/* Prefix Extra Space >> 14 Columns
----------------------------------------------------------------------------------------------------*/


.apex-this .prefix-1 {
	padding-left: 80px;
}

.apex-this .prefix-2 {
	padding-left: 160px;
}

.apex-this .prefix-3 {
	padding-left: 240px;
}

.apex-this .prefix-4 {
	padding-left: 320px;
}

.apex-this .prefix-5 {
	padding-left: 400px;
}

.apex-this .prefix-6 {
	padding-left: 480px;
}

.apex-this .prefix-7 {
	padding-left: 560px;
}

.apex-this .prefix-8 {
	padding-left: 640px;
}

.apex-this .prefix-9 {
	padding-left: 720px;
}

.apex-this .prefix-10 {
	padding-left: 800px;
}

.apex-this .prefix-11 {
	padding-left: 880px;
}

.apex-this .prefix-12 {
	padding-left: 960px;
}

.apex-this .prefix-13 {
	padding-left: 1040px;
}



/* Suffix Extra Space >> 14 Columns
----------------------------------------------------------------------------------------------------*/


.apex-this .suffix-1 {
	padding-right: 80px;
}

.apex-this .suffix-2 {
	padding-right: 160px;
}

.apex-this .suffix-3 {
	padding-right: 240px;
}

.apex-this .suffix-4 {
	padding-right: 320px;
}

.apex-this .suffix-5 {
	padding-right: 400px;
}

.apex-this .suffix-6 {
	padding-right: 480px;
}

.apex-this .suffix-7 {
	padding-right: 560px;
}

.apex-this .suffix-8 {
	padding-right: 640px;
}

.apex-this .suffix-9 {
	padding-right: 720px;
}

.apex-this .suffix-10 {
	padding-right: 800px;
}

.apex-this .suffix-11 {
	padding-right: 880px;
}

.apex-this .suffix-12 {
	padding-right: 960px;
}

.apex-this .suffix-13 {
	padding-right: 1040px;
}



/* PushSpace >> 14 Columns
----------------------------------------------------------------------------------------------------*/


.apex-this .push-1 {
	left: 80px;
}

.apex-this .push-2 {
	left: 160px;
}

.apex-this .push-3 {
	left: 240px;
}

.apex-this .push-4 {
	left: 320px;
}

.apex-this .push-5 {
	left: 400px;
}

.apex-this .push-6 {
	left: 480px;
}

.apex-this .push-7 {
	left: 560px;
}

.apex-this .push-8 {
	left: 640px;
}

.apex-this .push-9 {
	left: 720px;
}

.apex-this .push-10 {
	left: 800px;
}

.apex-this .push-11 {
	left: 880px;
}

.apex-this .push-12 {
	left: 960px;
}

.apex-this .push-13 {
	left: 1040px;
}



/* Pull-Space >> 14 Columns
----------------------------------------------------------------------------------------------------*/


.apex-this .pull-1 {
	left: -80px;
}

.apex-this .pull-2 {
	left: -160px;
}

.apex-this .pull-3 {
	left: -240px;
}

.apex-this .pull-4 {
	left: -320px;
}

.apex-this .pull-5 {
	left: -400px;
}

.apex-this .pull-6 {
	left: -480px;
}

.apex-this .pull-7 {
	left: -560px;
}

.apex-this .pull-8 {
	left: -640px;
}

.apex-this .pull-9 {
	left: -720px;
}

.apex-this .pull-10 {
	left: -800px;
}

.apex-this .pull-11 {
	left: -880px;
}

.apex-this .pull-12 {
	left: -960px;
}

.apex-this .pull-13 {
	left: -1040px;
}




/* Clear fixes
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /*will cause css invalid css */
}