footer {
	color: $light-gray;
	height: 30px;
	float: right;
	bottom: 30px;
	text-align: right;

	& a,
	& a:hover {
		text-decoration: underline;
	}

	& p {
		font-size: 16px;
		display: inline-block;
	}
} 

.page-hello footer,
.page-portfolio footer {
	margin-top: 200px;
	text-align: center;
}