.logo-box {
	position: relative;
	cursor: default!important;

	& span { /* hi box */
		opacity: 0;
		color: $light-cyan;
		background-color: #fff;
		padding: 10px; 
		font-size: 16px;
		position: absolute;
		line-height: 1;
		top: 25px;
		right: 35px;
		font-family: $pt-sans;
		text-transform: uppercase;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
		transition: 0.35s;
		transform: translateX(-30px) scale(0.6);
		
		&::before { /* arrow */
			content: '';
			box-sizing: border-box;
			border-left: 10px solid transparent;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-right: 10px solid #fff;
			position: absolute;
			left: -19px;
			top: 9px; 
		}
	}

	& h1 {
		font-size: 46px;
		font-weight: 400;
		text-transform: uppercase;
		font-family: $bebas;
	}

	&:hover {
		& span {
			opacity: 1;
			transform: translateX(0px) scale(1.0);	
		}
	}
}

.header-push { /* header fixed position compensation placeholder */
	height: $header-height;
	width: 100%;
}

.page-hello .header-push { /* background-color shim for hello page */
	background-color: $light-cyan;
	animation: fade-in70 1s;
	animation-delay: 1s;
}

.header-magic { /* header wrapper */
	width: 100%;
	height: $header-height + 20px;
	position: fixed;
	top: 0;
	z-index: 9000;
}

	header {
		width: 100%;
		height: $header-height;
		line-height: $header-height;
		position: fixed;
		z-index: 9000;
		background-color: $main-cyan;
		font-family: $bebas;
		color: #fff;
		transition: 0.35s;
		transform: translateY(0px);
		animation: fade-in70 0.35s;
	}

	/* collapse / uncollapse logic  */
	.collapsed {
		transform: translateY(-75px);
	}

	.header-magic:hover header {
		transform: translateY(0px);
	}

	header nav {
		height: $header-height;
		text-align: right;
		transition: 0.5s;
		
		& a span {
			transform: translate(0px, 0px);
			transition: 0.5s;
			display: inline-block;
			position: relative;
			z-index: 100;
		}

		& a:hover span {
			transform: translate(0px, -5px);
		}

		& a::after {
			content: '';
			height: $header-height;
			background-color: $light-cyan;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transform-origin: middle;
			transform: scale(0,1);
			transition: 0.2s;
		}

		& a:hover::after {
			transform: scale(1, 1);
			opacity: 0.7;
		}
	}

		.page-hello .nav-hello,
		.page-portfolio .nav-projects,
		.page-contacts .nav-contact {

			& span {
				transform: translate(0px, 0px);
			}

			&::after {
				background-color: $dark-cyan;
				transform: scale(1, 1);
				opacity: 1;
			}
		}

		#{$nav-items} {
			position: relative;
			display: inline-block;
			font-size: 24px;
			font-family: $bebas;
			text-transform: uppercase;
			padding: 0 35px;
			margin-left: -3px;
			transition: 0.3s;
		}




