/*"be back soon stuff"*/

.be-back-soon {
		background: rgba(32,195,243,0.7);
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		z-index: 999999;
		animation: bbs-appear 1.5s;

		& h1,
		& a {
			color: #fff;
			text-transform: uppercase;
			font-family: $bebas;
			transform: translate(-50%, -50%);
			display: block;
			position: absolute;
			top: 40%;
			left: 50%;
			text-align: center;
			text-shadow: 0px 2px 0px rgba(0,0,0,0.15);
		}

		& a {
			top: 43%!important;
		}
}

@media (max-width: 720px) {
	.be-back-soon a {
		top: 52%!important
	}
}

.bbs-ani-wrap * {
	animation: centrofuga 60s!important;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1,.11,.23,1);
	animation-delay: 0.5s!important;

}

@keyframes centrofuga {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(900deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes bbs-appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

body {
	overflow: hidden!important;
}



.hello-splash {
	width: 100%;
	height: 460px;
	text-align: center;
	position: relative;

	& h2 {
		margin-bottom: 10px;
		display: inline-block;
		z-index: 1000;
		position: relative;
		animation: fade-in70 1.1s;
		color: #fff;

		&.hero-h2 {
			margin-top: 170px;
		}
	}

	& a {
		margin-top: 30px;
		display: inline-block;
		font-size: 20px;
		font-weight: bold;
	}
}

.hero-h2 {
	width: 100%;
	color: $main-cyan;
	text-align: center;
	margin: 120px 0 60px 0;
	animation: fade-in70 0.9s;
}



.about-things-container {
	width: 100%;
	transform: translateY(-40px);
	background-color: #fff;
	opacity: 1;
	display: inline-block;
	padding: 65px 0 45px 0;

	& h2 {
		color: $main-cyan;
		margin-bottom: 20px;
		animation: fade-in70 1.4s;
	}

	& p {
		color: $dark-gray;
		text-align: justify;
		animation: fade-in70 1.4s;
	}

	a {
		color: $main-cyan;
	}
}

.about-me-pic {
	height: 220px;
	position: relative;
	animation: fade-in70 1.4s;
	transition: 0.3s;
}

.social-sprite {
	margin: 10px 0px 30px -15px;
	animation: fade-in70 1.4s;

	& a {
		width: 60px;
		height: 60px;
		display: inline-block;
		position: relative;

		& .gray-social {
			opacity: 1;
			transform: scale(1);
		}

		& .full-social {
			opacity: 0;
			transform: scale(0);
		}

		&:hover {

			& .full-social {
				opacity: 1;
				transform: scale(1);
			}

			& .gray-social {
				opacity: 0;
				transform: scale(0);
			}
		}

	}

	& span {
		background-image: url('../images/social-sprite.svg');
		background-size: 220px 220px;
		width: 60px;
		height: 60px;
		display: inline-block;
		position: absolute;
		transition: 0.3s;
	}
}

a[href="http://twitter.com/todorpanev"] {

	& .gray-social {
		background-position: 0px -50px;
	}

	& .full-social {
		background-position: 0px -100px;
	}
}

a[href="http://bg.linkedin.com/in/todorpanev"] {

	& .gray-social {
		background-position: -50px -50px;
	}

	& .full-social {
		background-position: -50px -100px;
	}
}

a[href="https://www.behance.net/panev"] {

	& .gray-social {
		background-position: -100px -50px;
	}

	& .full-social {
		background-position: -100px -100px;
	}
}

a[href="https://github.com/panev"] {

	& .gray-social {
		background-position: -150px -50px;
	}

	& .full-social {
		background-position: -150px -100px;
	}
}

.skill-container {

	min-height: 560px;
	margin: 0;

	&.tl,
	&.bl {
		border-right: 1px dashed $light-gray;
		box-sizing: border-box;
	}

	&.bl,
	&.br {
		border-top: 1px dashed $light-gray;
	}

	&:hover {

		opacity: 1;
		cursor: default;


		& .about-ill {

			transform: translateY(-25px);

			& .vial-dot {
				animation: vial-up 0.9s infinite;
			}

			& .vial-dot-1 {
				animation-delay: 0.2s;
			}

			& .vial-dot-2 {
				animation-delay: 1s;
			}

			& .vial-dot-3 {
				animation-delay: 0.5s;
			}

			& .vial-dot-4 {

				animation-delay: 1.7s;
			}

		}

		.about-skill p {
			transform: translateY(0px);
			opacity: 1;
		}

		& .about-skill h2 {
			transform: translateY(-15px);
			opacity: 1;
			color: $main-cyan;
		}

		& .about-skill .gray-ill {
			opacity: 0;
		}

		& .about-skill .full-ill {
			opacity: 0.85;
		}
	}

	&:hover .skill-cog {
		animation: skill-cog-rotate 3.6s infinite linear;
	}

	&:hover .dot-1 {
		animation: scale-up-down 0.5s infinite;
		animation-delay: 0s;
	}

	&:hover .dot-2 {
		animation: scale-up-down 0.75s infinite;
		animation-delay: 0.3s;
	}

	&:hover .dot-3, {
		animation: scale-up-down 1.2s infinite;
		animation-delay: 0.55s;
	}

	&:hover .dot-4 {
		animation: scale-up-down 0.5s infinite;
		animation-delay: 0.55s;
	}

	&:hover .dot-5 {
		animation: scale-up-down 0.45s infinite;
		animation-delay: 0.7s;
	}

	&:hover .dot-6 {
		animation: scale-up-down 0.7s infinite;
		animation-delay: 1.1s
	}

	&:hover .dot-7 {
		animation: scale-up-down 1.1s infinite;
		animation-delay: 1.15s
	}

	&:hover .dot-8 {
		animation: scale-up-down 0.6s infinite;
		animation-delay: 1.0s
	}

	&:hover .brand-dot-1 {
		background-color: $main-cyan;
		animation: brand-dot-scale 2.1s infinite;
		animation-delay: 0.4s;
		opacity: 1;
	}

	&:hover .brand-dot-2 {
		background-color: $light-cyan;
		animation: brand-dot-scale 1.5s infinite;
		opacity: 0.7
	}

	&:hover .brand-dot-3 {
		border-color: $light-cyan;
		animation: brand-dot-rotate 2.5s infinite linear;
		transform-origin: center;
		opacity: 0.7;
	}

}

.about-skill {
	padding-bottom: 45px;
	margin: 50px 0px 50px 0px;
	display: inline-block;
	opacity: 0.85;
	transition: 0.5s;
	vertical-align: top;

	& .about-ill {
		height: 250px;
		width: 220px;
		margin: 0 auto;
		opacity: 0.65;
		transition: 0.5s;
		transform: translateX(0px);
		position: relative;

		& img {
			position: absolute;
			transition: 0.35s;
		}
	}

	& .skill-info {
		display: inline-block;

		& h2 {
			transform: translateY(0px);
			transition: 0.4s;
			color: $dark-gray;
			text-align: center;
			margin-bottom: 20px;
		}

		& p {
			transform: translateY(10px);
			transition: 0.3s;
			opacity: 1;
			font-size: 18px;
			text-align: left;
		}
	}

	& .full-ill {
		opacity: 0;
	}

	& .gray-ill {
		opacity: 0.65;
	}

	& .vial-dot {
		opacity: 0;
		background-color: #fff;
		border-radius: 50%;
    	position: absolute;
    	display: block;
    	z-index: 999;
		transition: 0.3s;
		transform: translateY(0px);
	}

	& .vial-dot-1 {
		top: 152px;
		left: 99px;
		width: 11px;
		height: 11px;
		animation-delay: 0.2s;
	}

	& .vial-dot-2 {
		top: 158px;
		left: 112px;
		width: 6px;
		height: 6px;
		animation-delay: 1s;
	}

	& .vial-dot-3 {
		top: 144px;
    	left: 107px;
    	width: 7px;
    	height: 7px;
		animation-delay: 0.5s;
	}

	& .vial-dot-4 {
		top: 167px;
    	left: 108px;
    	width: 4px;
    	height: 4px;
		animation-delay: 1.7s;
	}
}


.brand-dot-1,
.brand-dot-2,
.brand-dot-3 {
	border-radius: 50%;
	transform-origin: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transition: 0.5s;
}

.brand-dot-1 {
	background-color: #BEBEBE;
	width: 64px;
	height: 64px;
	border: 3px solid #fff;
	z-index: 100;
	opacity: 1;
	transform: translate(-50%, -50%) rotate(0deg) scale(1.0);
}

.brand-dot-2 {
	background-color: #CCCCCC;
	width: 84px;
	height: 84px;
	z-index: 90;
	opacity: 0.7;
	transform: translate(-50%, -50%) scale(1.0);
}

.brand-dot-3 {
	border: 2px dashed #CCCCCC;
	width: 88px;
	height: 88px;
	z-index: 80;
	opacity: 0.7;
	transform: translate(-50%, -50%) scale(1.0);
}

.dot-1,
.dot-2,
.dot-3,
.dot-4,
.dot-5,
.dot-6,
.dot-7,
.dot-8 {
	background-color: $main-cyan;
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	z-index: 100;
	transform: scale(0.0);
	animation-iteration-count: infinite;
	opacity: 0;
}

.dot-1 {
	top: 37px;
	left: 68px;
	width: 14px;
	height: 14px;
}

.dot-2 {
	top: 71px;
	left: 82px;
	width: 45px;
	height: 45px;
}

.dot-3 {
	top: 95px;
	left: 23px;
	width: 22px;
	height: 22px;
}

.dot-4 {
	top: 143px;
	left: 67px;
	width: 14px;
	height: 14px;
}

.dot-5 {
	top: 130px;
	left: 127px;
	width: 23px;
	height: 23px;
}

 .dot-6 {
	top: 183px;
	left: 66px;
	width: 25px;
	height: 25px;
}

.dot-7 {
	top: 178px;
	left: 137px;
	width: 35px;
	height: 35px;
}

.dot-8 {
	top: 138px;
	left: 179px;
	width: 18px;
	height: 18px;
}

.about-go-container {
	text-align: center;
	margin: 160px 10px 80px 10px;
}
