.projects-greeter {
	color: $light-cyan;
	display: inline-block;
	padding: 20px;
	margin: 60px 0 10px 10px;
	border-bottom: 1px dashed $light-cyan;
	@extend .align-horizontal;
	& h3 {
		font-weight: lighter;
	}
}

.portfolio-greeter {
	text-align: center;
	display: block;
	margin: 150px 0;
	color: $main-cyan;
}

.project-container {
	position: relative;
	height: 240px;
	padding: 30px 0 30px 0;
	margin-top: 20px;
	transition: 0.35s;

 	&::after,
	&::before {
		height: 1px;
		width: 100%;
		content: '';
		display: block;
		position: absolute;
		transition: 0.35s;
		opacity: 0;
	}

	&::before {
		top: 0px;
		border-top: 1px dashed $light-gray;
	}

	&::after {
		bottom: 0px;
		border-bottom: 1px dashed $light-gray;
	}
 
	& .gray-thumb, .full-thumb {
		height: 150px;
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 380px;
		transition: 0.4s;
	}

	& .gray-thumb {
		opacity: 0.5;
		background-position: 0% 0%;
		overflow: visible;
	}

	& .full-thumb {
		opacity: 0;
		transform: translate(-50%, -50%);
		background-position: 0% -100%;
	}

 	& h2 {
 		text-transform: uppercase;
 		color: $dark-gray;
 		margin-left: 560px;
 		opacity: 0.6;
 		transform: translate(0px, 110px);
 		transition: 0.45s;
 		font-size: 30px;
 		font-weight: 400;
 	}

	& .tags, p, .go-to-action {
		position: absolute;
		right: 0;
		opacity: 0;
	}

	& .tags {
		text-transform: uppercase;
		color: $light-cyan;
		top: 36px;
		transition: 0.7s;
		transform: translate(0%, 40%);
	} 
 
	& p {
		width: 540px;
		height: 82px;
		text-align: justify;
		color: $dark-gray;
		top: 90px;
		transform: translate(0%, 45%);
		transition: 0.3s;
		& a {
			color: $main-cyan;
		}
	}

	& .go-to-action {
		top: 220px;
		transform: translate(0%, 100%);
	}


}
 
.project-container:hover {

	&::before,
	&::after {
		opacity: 1;
	}

	& .gray-thumb, 
	& .full-thumb {
		transform: translate(-240px, -50%);
	}

	& .gray-thumb,
	& .hero-thumb {
		opacity: 0;
	}

	& .full-thumb {
		opacity: 1;
	}

	& h2 {
		opacity: 1;
 		transform: translate(0px, 0px);

	}

	& .tags, p, .go-to-action {
		opacity: 1;
		transform: translate(0%, 0%);
	}

	& .go-to-action {
		animation: view-project-appear 0.6s;
	}

}


/* project thumbs individual sprite selectors */
#project-soon {
	& .gray-thumb, .full-thumb {
		width: 260px;
		height: 180px;
		background-image: url('../images/projects/soon-double-thumb.png');
	}
}

#project-jquerysofia {
	& .gray-thumb, .full-thumb {
		width: 260px;
		height: 180px;
		background-image: url('../images/projects/jquerysofia/jquerysofia-double-thumb.png');
	}
}

#project-igposters {
	& .gray-thumb, .full-thumb {
		width: 260px;
		height: 180px;
		background-image: url('../images/projects/igposters/igposters-double-thumb.png');
	}
}

#project-gigs {
	& .gray-thumb, .full-thumb {
		width: 260px;
		background-image: url('../images/projects/gigs/gigs-double-thumb.png');
	}
}

#project-omniamp {
	& .gray-thumb, .full-thumb {
		width: 260px;
		background-image: url('../images/projects/omniamp/omniamp-double-thumb.png');
	}
}


/* Projects CSS */

.project-info {
	margin-top: 60px;
	text-align: center;
	position: fixed;

	& h2 {
		color: $main-cyan;
		font-weight: 300;
	}

	& .project-date {
		text-transform: uppercase;
		color: $light-gray;
		font-size: 0.9em;
		margin-bottom: 25px;

		&::before {
			content: 'Compleated: ';
			text-transform: uppercase;
		}
	}

	& a {
		text-transform: uppercase;
		font-size: 1.2em;
		margin-top: 20px;
		display: inline-block;
		text-decoration: none;

		&:hover {
			border-bottom: 1px dashed;

			&::after {
				left: 5px;			
			}

			&::before {
				left: -5px;
			}
		}

		&::after,
		&::before {
			transition: 0.3s;
			position: relative;
			left: 0px;
		}
	}

	& .back-to-portfolio {

		&::before { 
			content: '< ';
		}

	}

	& .visit-project {
		
		color: $main-cyan;

		&::after {
			content: ' >';
		}
	}
	
	& .project-info-highlighter {
		position: absolute;
		width: 30px;
		height: 30px;
		bottom: -80px;
		left: 50%;
		visibility: visible;
		border-left: 3px solid $light-cyan;
		border-top: 3px solid $light-cyan;
		transform: rotate(45deg) translateX(-75%);
		opacity: 0;

		&.highlighter-active {
			animation: blink 0.25s 2;
			animation-delay: 0.3s;
		} 

	}

}

.inner-projects-container {
	margin-top: 60px;

	& img {
		margin-bottom: 120px;
	}

	& h2 {
		margin: 0px auto 20px auto;
		text-align: center;
		color: $main-cyan;
	}

	p {
		text-align: center;
		margin-top: -10px;
		margin-bottom: 20px;
	}
}

img[src="images/projects/igposters/project-igposters-cooking.png"],
img[src="images/projects/igposters/project-igposters-book.png"],
img[src="images/projects/igposters/project-igposters-ux.png"] {
	border-top: 2px dashed $light-gray;
}

img[src="images/projects/omniamp/omniamp-ui-concept-2.png"] {
	opacity: 0.75;
}


/* omniamp project css */

.omniamp-ani-container {
	
	position: relative;
	margin-bottom: 150px;
	height: 482px;
	width: 780px;

	& img {
		animation: none;
		position: absolute;
		height: 482px;
		width: 780px;
		z-index: 100;
	}

	& .omniamp-ani {
		z-index: 500;
		height: 482px;
		width: 780px;
		position: absolute;
		background-image: url("../images/projects/omniamp/omniamp-ani-all.svg");
		background-size: 7200px 482px;
		background-position: -10px 0px;
		animation: omni-ani 2.5s infinite linear;
		opacity: 1;
	}
}
