@media (max-width: 1100px) { 

	* {
		box-sizing: border-box;
	}

	.header-push,
	.logo-box span {
		display: none;
	}

	.apex-this .nmi-1,
	.apex-this .nmi-2,
	.apex-this .nmi-3,
	.apex-this .nmi-4,
	.apex-this .nmi-5,
	.apex-this .nmi-6,
	.apex-this .nmi-7,
	.apex-this .nmi-8,
	.apex-this .nmi-9,
	.apex-this .nmi-10,
	.apex-this .nmi-11,
	.apex-this .nmi-12,
	.apex-this .nmi-13,
	.apex-this .nmi-14 {
		display: inline-block;
		width: 100%;
		float: none;
		margin-left: 0;
		margin-right: 0;
	}

	.apex-this .push-1, 
	.apex-this .push-2, 
	.apex-this .push-3, 
	.apex-this .push-4, 
	.apex-this .push-5, 
	.apex-this .push-6, 
	.apex-this .push-7, 
	.apex-this .push-8, 
	.apex-this .push-9, 
	.apex-this .push-10,
	.apex-this .push-11,
	.apex-this .push-12,
	.apex-this .push-13,
	.apex-this .push-14 {
		left: 0px;
	}
 
	.apex-this,
	.apex-this .contacts-container {
		width: 100%;
		margin: 0px;
	}

	.contacts-info, .contacts-details {
		top: 0px;
	}

	.contacts-container h2 {
		margin: 30px 20px 20px 20px;
	} 

	.contacts-info h2 {
		margin: 20px;
	}

	.contacts-container p {
		margin: 10px 20px;
	}

	.contacts-details h5 {
		margin: 0 0 0 20px;
	}
 
	.logo-box {
		text-align: center;
		border-bottom: 2px dashed rgba(0,0,0,0.12);
	}

	header,
	.header-magic {
		height: 257px;
		position: relative;
		line-height: 60px;
		& a:after {
			height: 60px;
		}
	}

	.collapsed {
		transform: translate(0px);
	}

	nav {
		background-color: $main-cyan;
		height: 60px;
	}

	#{$nav-items} {
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 0;
	}

	.page-contacts {
		background-color: $light-cyan;

		& footer {
			color: #fff;
			bottom: 0;
			text-align: center;
			margin-bottom: 20px!important;
		}

		& .container {
			height: auto;
		}

		& .contacts-container {
			margin-bottom: 30px;
			& p {
				margin: 10px 20px 0px 20px;
			}
		}
	}



}