/* contacts ani */
@keyframes contacts-collapse {
	0% {
		transform: scale(1, 0.0);
	}

	50% {
		transform: scale(1, 0.0);
	}

	100% {
		transform: scale(1, 1);
	}
}

@keyframes fade-in70 {
	0% {
		opacity: 0;
	}

	70% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes view-project-appear {
	0% {
		transform: translate(0%, 100%);
		opacity: 0;
	}

	10% {
		transform: translate(0%, 100%);
		opacity: 0;
	}

	100% {
		transform: translate(0%, 0%);
		opacity: 1;
	}
}

@keyframes skill-cog-rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes brand-dot-rotate {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) rotate(0deg) scale(1.0);
	}

	50% {
		transform: translate(-50%, -50%) rotate(180deg) scale(0.0)
	}

	100% {
		opacity: 1;
		transform: translate(-50%, -50%) rotate(360deg) scale(1.0);
	}
}

@keyframes brand-dot-scale {
	0% {
		transform: translate(-50%, -50%) scale(0.0);
	}

	50% {
		transform: translate(-50%, -50%) scale(1.0);
	}

	100% {
		transform: translate(-50%, -50%) scale(0.0);
	}
}


@keyframes vial-up {
	0% {
		transform: translateY(0px) scale(1);
		opacity: 1;
	}

	50% {
		transform: translateY(-6px) scale(0.6);
	}

	100% {
		transform: translateY(-12px) scale(0);
		opacity: 0;
	}
}

@keyframes scale-up-down {
	0% {
		opacity: 0;
		transform: scale(0.0);
	}

	50% {
		opacity: 0.7;
		transform: scale(1.0);
	}

	100% {
		opacity: 0;
		transform: scale(0.0);
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes nav-loop {
	0% {
		transform: scale(1, -0.1);
	}

	100% {
		transform: scale(1, 1);
	}
}

@keyframes omni-ani {
	0% {
		opacity: 1;
		background-position: -10px 0px;
	}

	5% {
		opacity: 0;
		background-position: -10px 0px;
	}

	6% {
		opacity: 0;
		background-position: -810px 0px;
	}

	10% {
		opacity: 1;
		background-position: -810px 0px;
	}

	15% {
		opacity: 0;
		background-position: -810px 0px;
	}

	16% {
		opacity: 0;
		background-position: -1610px 0px;
	}

	20% {
		opacity: 1;
		background-position: -1610px 0px;
	}

	25% {
		opacity: 0;
		background-position: -1610px 0px;
	}

	26% {
		opacity: 0;
		background-position: -2410px 0px;
	}

	30% {
		opacity: 1;
		background-position: -2410px 0px;
	}

	35% {
		opacity: 0;
		background-position: -2410px 0px;
	}

	36% {
		opacity: 0;
		background-position: -3210px 0px;
	}

	40% {
		opacity: 1;
		background-position: -3210px 0px;
	}

	45% {
		opacity: 0;
		background-position: -3210px 0px;
	}

	46% {
		opacity: 0;
		background-position: -4010px 0px;
	}

	50% {
		opacity: 1;
		background-position: -4010px 0px;
	}

	55% {
		opacity: 0;
		background-position: -4010px 0px;
	}

	56% {
		opacity: 0;
		background-position: -4810px 0px;
	}

	60% {
		opacity: 1;
		background-position: -4810px 0px;
	}

	65% {
		opacity: 0;
		background-position: -4810px 0px;
	}

	66% {
		opacity: 0;
		background-position: -5610px 0px;
	}

	70% {
		opacity: 1;
		background-position: -5610px 0px;
	}

	75% {
		opacity: 0;
		background-position: -5610px 0px;
	}

	76% {
		opacity: 0;
		background-position: -6410px 0px;
	}

	80% {
		opacity: 1;
		background-position: -6410px 0px;
	}

	85% {
		opacity: 0;
		background-position: -6410px 0px;
	}

	86% {
		opacity: 0;
		background-position: -7210px 0px;
	}

	90% {
		opacity: 0;
		background-position: -7210px 0px;
	}

	91% {
		opacity: 0;
		background-position: -5610px 0px;
	}

	95% {
		opacity: 1;
		background-position: -5610px 0px;
	}

	99% {
		opacity: 0;
		background-position: -5610px 0px;
	}
	100% {
		opacity: 0;
		background-position: -10px 0px;
	}
}
